<%if @total_cost%>
  <div id="total-cost">
    <h3><strong>Total Spending</strong>:   RM <%=@total_cost%></h3>
  </div>
  <%=link_to "Checkout", new_checkout_path, class: "btn btn-primary checkout-btn"%>
<%end%>

<div class="table-responsive">
  <table class="text-center">
    <thead>
      <tr>
        <th class="image">Image</th>
        <th class="title">Title</th>
        <th class="price">Price</th>
        <th class="quantity">Quantity</th>
        <th class="total">Total</th>
      </tr>
    </thead>
    <tbody>
      <%if @items%>
        <%@items.each do |item|%>
        <%=render partial: "cart_item", locals: {item: item}%>
        <%end%>
      <%end%>
    </tbody>
  </table>
</div>
