<table class="text-center">
  <tbody>
    <%items.each do |item|%>
      <tr>
        <td class="title"><h4><%=item.title%></h4></td>
        <td class="quantity"><h4>x <%=item.quantity%></h4></td>
        <td class="price"><h4>RM <%=item.price * item.quantity.to_i%></h4></td>
      </tr>
    <%end%>
      <tr>
        <td></td>
        <td></td>
        <td class="total"><h4>Total = RM <%=@total_cost%></h4></td>
      </tr>
    </tbody>
</table>
