
$light-gray: #777;
// header

#logo {
  float: left;
  color: white;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-right: 10px;
  text-decoration: none;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: $light-gray
  }
}

header {
  .navbar {
    height: 20vh;
  }
  .container {
    width: 90%;
  }

  .right-links {
    font-size: 1em;
    font-weight: bold;
    margin-right: 150px;
    a.btn {
      height: 30px;
      margin-top: 10px;
      margin-right: 20px;
      width: 80px;
      color: white;
      line-height: 30%;
    }
    a.btn.btn-primary.admin-btn {
      width: 150px;
    }

  }

  .items-bar {
    width: 90%;

    .left-links {
      margin-left: 20px;
      font-size: 1.4em;
      font-family: 'Oswald', sans-serif;
      letter-spacing: 2px;
      color: white;
    }

    .bottom-right-links {
      font-size: 1.4em;
      font-family: 'Oswald', sans-serif;
      letter-spacing: 2px;
      color: white;
      margin-left: 10px;
    }
  }
}

// home

.home {
  #myCarousel {
    width: 100%;
  }
  .carousel-img {
    width: 100%;
  }
}

// footer
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 40px;

  footer p {
    color: white;
    text-align: center;
    margin-top: 12px;
  }
}

// items
.items-row {
  margin-bottom: 15vh;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;

  .item-child {
    flex: 0 0 25%;
    margin-bottom: 50px;
    box-sizing: border-box;
    
    &:hover {
      border: 1px solid #CFCFCF;
      cursor: pointer;
      text-decoration: none;
    }
    hr {
      width: 70%;
    }

    h3{
      font-family: 'Oswald', sans-serif;
      font-size: 1.8em;
      letter-spacing: -1px;
      margin-bottom: 5px;
      color: black;
      text-transform: uppercase;
      text-decoration: none;
    }
    h4{
      font-family: 'Oswald', sans-serif;
      font-size: 1.5em;
      color: #ff4d00;
      text-decoration: none;
    }
  }
}

// pagination

nav.pagination {
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 1.5em;
  letter-spacing: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 50px;
  margin-left: 20px;
}

// header search form

#search_form {
  float: left;
  background-color: #222;

  #search_field {
    position: absolute;
    width: 250px;
    height: 25px;
    right: 25px;
    margin-top: 12px;
    border: transparent;
    padding-left: 5px;
  }

  #search-btn {
    border: none;
    margin-top: 12px;
    height: 25px;
    background: white;
    padding-top: 2px;
  }
}

// show items

.item-show {
  margin-top: 50px;

  .item-image {
    height: 350px;
    width: 350px;
    margin-top: 50px;
  }

  .item-details {
    margin-bottom: 50px;
  }

  .product-snippets {
    .img-snippets {
      height: 80px;
      width: 80px;
      margin: 0 10px 20px 0;
    }
  }

  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    letter-spacing: 1px;
    color: black;
    text-transform: uppercase;
    text-align: left;
  }
  h2{
    font-family: 'Oswald', sans-serif;
    font-size: 2.0em;
    letter-spacing: 2px;
    color: #ff4d00;
    text-align: left;
  }
  h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: grey;
  }
  p{
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    color: black;
  }
  .addtocart{
    width: 100px;

    #item-quantity-field {
      height: 35px;
      padding-left: 20px;
      font-size: 1.2em;
    }
  }
}

// flash message

.flash-messages {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .p {
    margin: 0;
  }

  .alert {
    border: 0;
  }

  .alert-success {
    background-color: green;
    color: white;
  }

  .alert-danger {
    background-color: red;
    color: white;
  }

  .alert-alert {
    background-color: red;
    color: white;
  }

  .alert-notice {
    background-color: green;
    color: white;
  }

  .close {
    line-height: 0;
    padding: 7px;
    font-size: 40px;
    opacity: 1;
    color: white;
  }

  .list-styling {
    width: 500px;
    margin: 0 auto;
    list-style-type: none;
    text-align: left;
  }

  .message {
    text-align: center;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  }

}

//cart item
.checkout-btn {
  margin-left: 250px;
}

table, th, td {
  border: 1px solid black;
}

table {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 100px;
  overflow: auto;

  .cart-row {
    height: 150px;
  }

  .cart-image {
    width: 120px;
    height: 120px;
  }

  thead tr {
    height: 50px;
    font-size: 1.5em;
    vertical-align: middle;
  }

  th {
    text-align: center;
  }

  th.image {width:80px}
  th.title {width:100px}
  th.price {width:80px}
  th.quantity {width:100px}
  th.total {width:80px}

  .update-btn {
    width: 80px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .remove-btn {
    width: 80px;
    margin-left: 20px;
  }

  #cart-quantity-field {
    height: 32px;
    width: 80px;
    margin: 0 20px 40px;
    padding-left: 10px;
    font-size: 1.2em;
  }
}

#total-cost {
  margin-left: 250px;
  margin-top: 40px;
}

// payment

.payment-container {
  margin: 50px 50px 50px 50px;
  width: 40%;
}

.order-review {
  padding-left: 50px;

  table, tr, td {
    border: none;
  }
  table {
    margin-left: 0;
    td.title {width: 50px}
    td.quantity {width: 50px}
    td.price {width: 50px}
    td.total {
      border-top: 1px solid black;
    }
  }
}

//checkout order page
.checkout-container {
  width: 80%;
  margin: 40px auto;
  overflow: auto;
  h3 {
    text-align: left;
  }
}
