<footer>
  <p>This site is made for educational purpose. All images displayed in this site belongs to <strong><a href="https://www.sunriseclick.com/category/yonex/tennis/racquets/?itemsperpage=all">Sunrise Clicks</a></strong></p>
</footer>
